header.p-header
  h1.c-header
    a(href="#")
      img(src="/assets/images/logo.svg", alt="TOTALLY" width="145" height="25")

  nav.l-flex.horizonBetween.verticalCenter.p-header__nav
    ul.l-flex.p-header__menu
      li
        a.c-noWrap(href="#") ALL
      li
        a.c-noWrap(href="#") NEW
      li
        a.c-noWrap(href="#") VINTAGE
      li
        a.c-noWrap(href="#") CATEGORY
      li
        a.c-noWrap(href="#") LOOKBOOK
      li
        a.c-noWrap(href="#") BLOG

    ul.l-flex.p-header__menu
      li
        a.c-noWrap(href="#") LOGIN
      li
        a.c-noWrap(href="#") CONTACT