@use '../../global' as *;

.u-forSP {
  @include mq-up(md) {
    display: none;
  }
}

.u-forPC {
  display: none;
  @include mq-up(md) {
    display: block;
  }
}

.u-txtHide {
  @include text-hide();
}

.u-margin--top20 {
  margin-top: 20px !important;
}

.u-margin--top30 {
  margin-top: 30px !important;
}

.u-margin--top74 {
  margin-top: 74px !important;
}
