@use '../global' as *;

// .l-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.l-flex {
  display: flex;

  &.horizonBetween {
    justify-content: space-between;
  }

  &.verticalCenter {
    align-items: center;
  }
}

.l-productContainer {
  @include mq-up(md) {
    display: flex;
    max-width: 800px;
    margin: 50px auto 0;
  }
}
