//- ---
//- dynamicPermalink: false
//- permalink: 'xx.html'
//- ---

extends /_layout-default

prepend config-block
  //- - site.page_name = ''
  //- - site.description = ''
  //- - site.keywords = ''
  //- - site.url = ''
  //- - site.ogp_type = 'article'

//- append stylesheet-block
//-   link(rel="stylesheet", href="/assets/styles/page.css")

//- append javascript-block
//-   script(src="/assets/scripts/page.js")

block content-block
  include /_header

  main.l-main
    div
      img(src="/assets/images/item.jpg", alt="", width="320" height="400")

    div
      h2 TOTALLY Short Sleeve Shirt
      p テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキスト

      p ￥9,999 +tax

      table
        thead
          tr
            th Color
            th Size
        tbody
          tr
            td White
            td S
            td
              select
                option 1
                option 2
                option 3
          tr
            td White
            td M
            td
              select
                option 1
                option 2
                option 3
          tr
            td White
            td L
            td
              select
                option 1
                option 2
                option 3

      button ADD TO CART

      table
        thead
          tr
            th Size
            th Chest
            th Weist
            th Height
        tbody
          tr
            td S
            td 99 ~ 99
            td 99 ~ 99
            td 99 ~ 99
          tr
            td M
            td 99 ~ 99
            td 99 ~ 99
            td 99 ~ 99
          tr
            td L
            td 99 ~ 99
            td 99 ~ 99
            td 99 ~ 99

  include /_footer
