//- ---
//- dynamicPermalink: false
//- permalink: 'xx.html'
//- ---

extends /_layout-default

prepend config-block
  //- - site.page_name = ''
  //- - site.description = ''
  //- - site.keywords = ''
  //- - site.url = ''
  //- - site.ogp_type = 'article'

//- append stylesheet-block
//-   link(rel="stylesheet", href="./assets/styles/page.css")

//- append javascript-block
//-   script(src="./assets/scripts/page.js")

block content-block
  include /_header

  main.l-productContainer
    .p-productImage
      img(src="./assets/images/item.jpg", alt="", width="320" height="400")

    .p-productInfo
      h2.p-productInfo__name TOTALLY Short Sleeve Shirt
      p.u-margin--top20 テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキスト

      p.u-margin--top30 ￥9,999 +tax

      table.p-selectVolumeTable.c-table1.u-margin--top30
        thead
          tr
            th.p-selectVolumeTable__cell--small.c-table1__cell--head Color
            th.p-selectVolumeTable__cell--small.c-table1__cell--head Size
            th.p-selectVolumeTable__cell--large.c-table1__cell--head
        tbody
          tr.c-table1__row--body
            td.p-selectVolumeTable__cell--small.c-table1__cell White
            td.p-selectVolumeTable__cell--small.c-table1__cell S
            td.p-selectVolumeTable__cell--large.c-table1__cell
              select.p-selectVolumeTable__select
                option 1
                option 2
                option 3
          tr.c-table1__row--body
            td.p-selectVolumeTable__cell--small.c-table1__cell White
            td.p-selectVolumeTable__cell--small.c-table1__cell M
            td.p-selectVolumeTable__cell--large.c-table1__cell
              select.p-selectVolumeTable__select
                option 1
                option 2
                option 3
          tr.c-table1__row--body
            td.p-selectVolumeTable__cell--small.c-table1__cell White
            td.p-selectVolumeTable__cell--small.c-table1__cell L
            td.p-selectVolumeTable__cell--large.c-table1__cell
              select.p-selectVolumeTable__select
                option 1
                option 2
                option 3

      button.c-button.u-margin--top20 ADD TO CART

      table.c-table1.p-sizeTable.u-margin--top30
        thead
          tr
            th.c-table1__cell--head.p-sizeTable__cell--gray Size
            th.c-table1__cell--head.p-sizeTable__cell--gray Chest
            th.c-table1__cell--head.p-sizeTable__cell--gray Weist
            th.c-table1__cell--head.p-sizeTable__cell--gray Height
        tbody
          tr.c-table1__row--body
            td.c-table1__cell.p-sizeTable__cell--gray S
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
          tr.c-table1__row--body
            td.c-table1__cell.p-sizeTable__cell--gray M
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
          tr.c-table1__row--body
            td.c-table1__cell.p-sizeTable__cell--gray L
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99
            td.c-table1__cell.p-sizeTable__cell 99 ～ 99

  include /_footer
